<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="C:\Users\bk300\OneDrive\Desktop\Fresh new IBM Project\Novel Digit Recognition\static\styles\style.css" rel="stylesheet">
    </head>
    <body>    
        <center>
            <div class='cont'>
                <h2>A NOVEL METHOD FOR DIGIT RECOGNITION SYSTEM</h2>
            </div>
            

            <form method="POST" action="{{url_for('home')}}" enctype="multipart/form-data">
                <input type="file" name='image' class='btn'><br><br><br>
                <input type="submit" class='btn'>
            </form>

    </center>

    </body>
</html>
